<link rel="stylesheet" href="/css/header.css">
<% if (typeof languages !=='undefined' && currentLang !== 'undefined' ) { %>
<header id="header" class="h-24 w-full backdrop-blur fixed top-0 left-0 right-0 z-50 border-cyan-900 border-b border-solid">
    <div class="max-w-screen-xl h-full mx-auto flex items-center justify-between">
        <div class="header__logo">
            <a href="/" class="flex justify-center items-center h-full">
                <img class="h-16" src="/logos/logo2.png" alt="app logo">
                <span class="ml-4 text-3xl font-semibold">CHAT APP</span>
            </a>
        </div>
        <div class="header__nav relative flex h-full min-w-24">
            <input type="checkbox" id="menu_checkbox" hidden>
            <label for="menu_checkbox" class="header__menu block lg:hidden w-24 h-24">
                <div></div>
                <div></div>
                <div></div> 
            </label>
            <nav class="hidden lg:flex lg:h-full lg:relative bg-gray-500 lg:bg-transparent">
                <% languages.filter(language => language.ele === 'header_nav').forEach(function(headerNav){ %>
                    <li class="h-full"><a class="flex justify-between items-center px-12 lg:px-4 h-full hover:text-sky-500 font-medium" href="/<%= headerNav.content %>">
                        <i class="<%= headerNav.icon %> mr-1"></i>
                        <%= headerNav.name %>
                    </a></li>
                <% }); %>
            </nav>
            <ul class="flex">
                <li class="flex justify-between items-center px-12 lg:px-4 h-full font-medium cursor-pointer relative">
                    <% languages.filter(language => language.ele === 'header_theme').forEach(function(headerTheme){ %>
                        <i class="theme-icon <%= headerTheme.content %> <%= headerTheme.icon %> min-w-7 mr-1 text-sky-500"></i>
                    <% }); %>
                    <ul id="themes" class="absolute z-20 top-full left-0 hidden">
                        <% languages.filter(language => language.ele === 'header_theme').forEach(function(headerTheme){ %>
                            <li class="theme-option px-2 py-1 min-w-48 hover:bg-slate-400 dark:hover:bg-slate-600">
                                <i class="<%= headerTheme.icon %> min-w-6 mr-4"></i>
                                <%= headerTheme.name %>
                            </li>
                        <% }); %>
                    </ul>
                    <div id="overlayThemes" class="fixed z-10 top-0 left-0 h-screen w-screen hidden"></div>
                </li>
                <li class="relative">
                    <span class="language-icon flex justify-between items-center px-12 lg:px-4 h-full font-medium cursor-pointer">
                        <div class="w-8 h-8 mr-1" style="background: url('<%= currentLang.icon %>') top center / cover no-repeat;"></div><%= currentLang.content %>
                    </span>
                    <ul id="languages" class="absolute z-20 top-full left-0 hidden">
                        <% languages.filter(language => language.ele === 'header_language').forEach(function(headerLanguage){ %>
                            <li class="language-option flex px-4 py-2 min-w-56 hover:bg-slate-400 dark:hover:bg-slate-600 cursor-pointer" data-code="<%= headerLanguage.content %>">
                                <img src="<%= headerLanguage.icon %>" class="w-8 h-8 mr-4">
                                <%= headerLanguage.name %>
                            </li>
                        <% }); %>
                    </ul>
                    <div id="overlayLangs" class="fixed z-10 top-0 left-0 h-screen w-screen hidden"></div>
                </li>
            </ul>            
        </div>
    </div>
</header>
<% } %>
<script>
    // reset menu checkbox
    document.addEventListener('DOMContentLoaded', () => {
        const menu_checkbox = document.getElementById('menu_checkbox');
        window.addEventListener('resize', () => {
            if (window.innerWidth > 1023) menu_checkbox.checked = false;
        });
    });
</script>
<script src="/js/themeHandler.min.js" defer></script>
<script src="/js/languageHandler.min.js" defer></script>